.review-card__briefly {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: '';

    width: 22px;
    height: 21px;

    top: 0px;
    left: 0px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/reviews/quotes.svg);

    @include mq(tablet) {
      width: 23px;
      height: 22px;
    }
    @include mq(desktop) {
      width: 30px;
      height: 29px;
    }
  }
}

/*! purgecss start ignore */
.reviews-slider {
  padding-bottom: 57px;
  @include mq(tablet) {
    padding-bottom: 0px;
  }

  .slick-prev,
  .slick-next {
    display: inline-block;

    width: 42px;
    height: 42px;

    top: 100%;
    transform: translate(0, -42px);

    &::before {
      display: block;
      position: absolute;
      content: '';

      width: 42px;
      height: 42px;

      top: 0px;
      left: 0px;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .slick-prev {
    left: calc(50% - 42px - 5px);
    &::before {
      background-image: url(../images/reviews/arrow-prev.svg);
    }
  }
  .slick-next {
    right: calc(50% - 42px - 5px);
    &::before {
      background-image: url(../images/reviews/arrow-next.svg);
    }
  }

  .slick-slide {
    @include mq(mobile-only) {
      margin: 0px 10px;
      padding: 10px 0px;
    }
    @include mq(tablet) {
      margin-left: 0;
      margin-right: 28px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
    @include mq(desktop) {
      margin-right: 20px;
    }
  }
}
/*! purgecss end ignore */
