{% macro label(title, class, btnText, margin) %}

<!-- class: labelFly or labelWalk
     margin: bottom or nothing -->

<div
  class="labelCard {{class}} relative w-full rounded-[20px] px-[34px] pb-[42px] pt-[62px] md:w-[664px] md:rounded-3xl md:px-[95px] md:pt-[26px] md:pb-[27px] md:mx-auto xl:w-[1199px] xl:rounded-[66px] xl:px-[143px] xl:pt-12 xl:pb-[70px]"
>
  <p
    class="mb-[19px] text-center text-[14px] leading-[1.3] md:mb-[10px] md:text-[20px] xl:mb-[34px] xl:text-[32px]"
  >
    {{title}}
  </p>
  <button
    data-modal-open
    type="button"
    class="btn mx-auto h-[42px] w-[190px] xl:h-[68px] xl:w-[262px]"
  >
    {{btnText}}
  </button>
</div>

{% endmacro %}
