{% set section = choice %}
<section class="{{section.id}} section">
  <div class="container">
    <h2 class="section-title">{{section.title}}</h2>
    <div class="">
      <h3 class="">{{section.course.name}}</h3>
      <p class="">{{section.course.age}}</p>
    </div>
    <ul class="">
      {% for item in section.firstStep %}
      <li class="">
        <h3 class="">{{item.name}}</h3>
        <p class="">{{item.age}}</p>
      </li>
      {% endfor %}
    </ul>
    <ul class="">
      {% for item in section.secondStep %}
      <li class="">
        <h3 class="">{{item.name}}</h3>
        <p class="">{{item.age}}</p>
      </li>
      {% endfor %}
    </ul>
    <ul class="">
      {% for item in section.thirdStep %}
      <li class="">
        <h3 class="">{{item.name}}</h3>
        <p class="">{{item.salary}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
