{% set section = choice %} {% import '../components/macro/label.html' as label %}
<section class="{{section.id}} section relative">
  <div class="container">
    <h2 class="section-title smOnly:sr-only">{{section.title}}</h2>
    <div class="choice-wrapper">
      <div class="choice-banner mb-[50px] rounded-xl">
        <h3 class="mb-2 text-center text-[20px] font-bold leading-[1.3]">
          {{section.course.name}}
        </h3>
        <p
          class="mx-auto w-[118px] rounded-[31px] bg-green-age py-[10px] text-center text-sm font-semibold leading-[1.3]"
        >
          {{section.course.age}}
        </p>
      </div>
      <ul class="choice-list">
        {% for item in section.firstStep %}
        <li class="choice-item">
          <h3 class="choice-name">{{item.name}}</h3>
          <p class="choice-age">{{item.age}}</p>
        </li>
        {% endfor %}
      </ul>
      <ul class="choice-list">
        {% for item in section.secondStep %}
        <li class="choice-item">
          <h3 class="choice-name">{{item.name}}</h3>
          <p class="choice-age">{{item.age}}</p>
        </li>
        {% endfor %}
      </ul>
      <ul class="choice-list mb-[66px]">
        {% for item in section.thirdStep %}
        <li class="choice-item px-[10px] py-[14px] text-center">
          <h3 class="choice-name">{{item.name}}</h3>
          <p class="choice-salary">{{item.salary}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
    {{label.label(section.label, 'labelFly', section.button)}}
  </div>
</section>
