{% set section = hero %}

<section
  class="{{section.id}} relative pt-[73px] pb-[304px] md:pt-[113px] md:pb-[175px] xl:pt-[158px] xl:pb-[215px]"
>
  <div class="container">
    <h1
      class="mb-[14px] text-[22px] font-bold leading-[1.16] text-white md:mb-[17px] md:w-[527px] md:text-[32px] xl:w-[705px] xl:text-[46px]"
    >
      {{section.title}}
    </h1>
    <p
      class="mb-[27px] text-base font-medium leading-[1.3] text-white md:mb-[62px] md:w-[434px] md:text-[20px] xl:mb-[60px] xl:w-[498px] xl:text-[24px]"
    >
      {{section.subtitle}}
    </p>
    <p
      class="mb-[9px] text-[14px] font-bold leading-[1.16] text-white md:mb-[23px] md:w-[224px] md:text-lg xl:mb-8 xl:w-auto xl:text-[24px] mdOnly:leading-[1.3]"
    >
      {{section.text}}
    </p>
    <button
      data-modal-open
      type="button"
      class="btn hero-btn h-10 w-[196px] md:h-[43px] md:w-[240px] md:text-[18px] xl:h-[72px] xl:w-[406px] xl:text-[30px]"
    >
      {{section.button}}
    </button>
  </div>
</section>
