{% set section = info %}

<section class="{{section.id}} section !pt-0 bg-white">
  <div class="container">
    <h2 class="visually-hidden">{{section.title}}</h2>
    <ul
      class="mt-[-46px] grid grid-cols-2 gap-x-[6px] gap-y-[14px] text-center md:mt-[-31px] md:grid-cols-4 md:gap-x-5 xl:mt-[-43px]"
    >
      {% for item in section.list %}
      <li
        class="info-card rounded-[14px] px-2 py-[15px] text-[11px] leading-[1.33] text-[#18191F] md:px-3 md:text-[10px] md:leading-snug xl:px-4 xl:py-7 xl:text-xl xl:leading-[1.3]"
      >
        <span
          class="mb-1 block text-xl font-bold leading-[1.125] text-accent md:leading-none xl:mb-2 xl:text-[40px]"
          >{{item.span}}</span
        >{{item.text}}
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
