{% if formId === "modalFormPayment" %} {% set formClass = 'class="xl:pl-[55px] xl:border-l-[1px]
xl:border-[#ededed]"' %} {% else %} {% set formClass = 'class="text-lg"' %} {% endif %}

<form {{ formClass }} id="{{formId}}" novalidate autocomplete="on">
  <div class="flex flex-wrap gap-6">
    {% block formFields %} {% endblock %}
    <button
      class="btn order-1 mx-auto h-[48px] w-[190px] md:w-[262px] md:text-[18px] xl:h-[68px] xl:w-[330px] xl:text-[24px]"
      type="submit"
    >
      {% if formId === 'modalFormPayment' %} {{ formPayment.btnSubmit }} {% else %} {{
      form.btnSubmit }} {% endif%}
    </button>
  </div>
</form>
